<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectapplication">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.company.contentprovider.READ_DATABASE" />
    <uses-permission android:name="com.company.contentprovider.WRITE_DATABASE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectApplication">
        <activity
            android:name="com.example.projectapplication.EditGroupInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.projectapplication.MemberProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.projectapplication.GroupMembersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.projectapplication.GroupChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.projectapplication.GroupInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.projectapplication.GroupImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.projectapplication.UserProfileImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.projectapplication.CreateGroupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.projectapplication.LoginVerifyOTPActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.projectapplication.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.projectapplication.VerifyOTPActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.projectapplication.SendOTPActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.projectapplication.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.projectapplication.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>